
<div class='calendar'>

    <div class='calendar-sidebar'>
      <div class='calendar-sidebar-section'>
        <h2>Instructions</h2>
        <ul>
          <li>Select dates and you will be prompted to create a new event</li>
          <li>Drag, drop, and resize events</li>
          <li>Click an event to delete it</li>
          <!-- <button (click)='seeTasks()'>see tasks</button> -->
        </ul>
      </div>
      <div class='calendar-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarVisible'
            (change)='handleCalendarToggle()'
          />
          toggle whole calendar
        </label>
      </div>
      <div class='calendar-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions.weekends'
            (change)='handleWeekendsToggle()'
          />
          toggle weekends
        </label>
      </div>
      <div class='calendar-sidebar-section'>
        <h2>All Events ({{currentTasks().length}})</h2>
        <ul>
          <li *ngFor='let event of currentTasks()'>
            <b>{{event.start}}</b>
            <i>{{event.title}}</i>
          </li>
        </ul>
      </div>
    </div>
  
    <div class='calendar-main'>
      <full-calendar
        *ngIf='calendarVisible'
        [options]='calendarOptions'
      ></full-calendar>
    </div>
  
  </div>
  