
<div class='calendar'>
  <!-- <style>
    :root {

      --fc-button-active-bg-color: #9b1e1e;
    }
    </style> -->

    <div class='calendar-sidebar'>
      <a mat-stroked-button href="/dashboard" target="_blank">Dashboard</a>
      <div class='calendar-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarVisible'
            (change)='handleCalendarToggle()'
          />
          toggle whole calendar
        </label>
      </div>
      <div class='calendar-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions.weekends'
            (change)='handleWeekendsToggle()'
          />
          toggle weekends
        </label>
      </div>
      <div class='calendar-sidebar-section'>
        <h2>All Events ({{currentTasks().length}})</h2>
        <ul>
          <li *ngFor='let event of currentTasks()'>
            <b>{{event.title}}</b>
            <i>{{event.start}}</i>
            <i>{{event.end}}</i>

          </li>
        </ul>
      </div>
    </div>
  
    <div class='calendar-main'>
      <full-calendar
        *ngIf='calendarVisible'
        [options]='calendarOptions'
      ></full-calendar>
    </div>

  
  </div>
  