<div class="forgot-password-container">
    <div [formGroup]="forgotPasswordForm" class="forgot-password-content">
        <p class="title">Change password</p>  
        <p class="title-intro">Enter your email to reset your password</p>

        <mat-form-field appearance="outline">
            <mat-label>Enter your username</mat-label>
            <input formControlName="username" matInput type="email" [(ngModel)]="this.forgotPasswordForm.value.username">
            
            <mat-error *ngIf="forgotPasswordForm.controls['username'].hasError('required')">
                Username is required
            </mat-error>

            <mat-error *ngIf="forgotPasswordForm.controls['username'].hasError('email')">
                Invaid email!
            </mat-error>
        </mat-form-field>
        <button (click)="forgotPassword()" [disabled]="forgotPasswordForm.invalid" class="btn btnFill">Send verification mail</button>
        <p class="alternative"> Return to <span [routerLink]="['/login']">Login</span> </p>
    </div>
</div>

