.card {
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  position: relative;
}

.card-body {
  padding: 20px;
  background-color: #e3e3e3fd;


  margin-bottom: 30px; /* Adjust as needed to create space between card body and button */
}

.card-header {
  background-color: #27162d86;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  border-radius: 8px 8px 0 0; /* Ensure border radius matches the card */
}

.card-text {
  margin-bottom: 5px;
  word-wrap: break-word; /* Allows long words to be broken and wrapped onto the next line */
  flex-grow: 1; /* Allow the description text to grow vertically */
}


.button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-top: auto; /* Push the button container to the bottom */
}

