.task-popup-content {
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.task-popup-header {
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53cae2;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  word-wrap: break-word; /* Allow text to wrap onto multiple lines */
}

.task-popup-body {
  padding: 20px; /* Add some padding */
  border: 2px solid #53cae2; /* Add a border */
  border-radius: 8px;
}

/* Style individual paragraph elements */
.task-popup-body p {
  margin: 8px 0; /* Add some vertical margin */
}

/* Button style */
.exit-button {
  display: grid;
}

.mat-dialog-actions button {
  color: #aa8dbf; /* Text color */
  font-weight: bold;
}

/* Button hover effect */
.mat-dialog-actions button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Light background color on hover */
}
